In [55]:
import pandas as pd

df = pd.read_csv("data/clean_data.csv")

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103904 entries, 0 to 103903
Data columns (total 24 columns):
 #   Column                             Non-Null Count   Dtype
---  ------                             --------------   -----
 0   id                                 103904 non-null  int64
 1   Gender                             103904 non-null  object
 2   Customer Type                      103904 non-null  object
 3   Age                                103904 non-null  int64
 4   Type of Travel                     103904 non-null  object
 5   Class                              103904 non-null  object
 6   Flight Distance                    103904 non-null  int64
 7   Inflight wifi service              103904 non-null  int64
 8   Departure/Arrival time convenient  103904 non-null  int64
 9   Ease of Online booking             103904 non-null  int64
 10  Gate location                      103904 non-null  int64
 11  Food and drink                     103904 non-null  int64
 12  Online boarding                    103904 non-null  int64
 13  Seat comfort                       103904 non-null  int64
 14  Inflight entertainment             103904 non-null  int64
 15  On-board service                   103904 non-null  int64
 16  Leg room service                   103904 non-null  int64
 17  Baggage handling                   103904 non-null  int64
 18  Checkin service                    103904 non-null  int64
 19  Inflight service                   103904 non-null  int64
 20  Cleanliness                        103904 non-null  int64
 21  Departure Delay in Minutes         103904 non-null  int64
 22  Arrival Delay in Minutes           103904 non-null  float64
 23  satisfaction                       103904 non-null  object
dtypes: float64(1), int64(18), object(5)
memory usage: 19.0+ MB

In [57]:
df.head()

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172,Male,Loyal Customer,13,Personal Travel,Eco Plus,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028,Female,Loyal Customer,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,satisfied
3,24026,Female,Loyal Customer,25,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,0.0,satisfied

In [58]:
from sklearn.preprocessing import LabelEncoder
# Aplicar Label Encoding a gender
label_encoder = LabelEncoder()
df['Gender_label'] = label_encoder.fit_transform(df['Gender'])
# Mostrar cómo se asignaron los valores
print("\nAsignación de valores en Label Encoding:")
for clase, valor in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{clase}: {valor}")

Asignación de valores en Label Encoding:
Female: 0
Male: 1

In [59]:
# Aplicar Label Encoding a Customer Type
label_encoder = LabelEncoder()
df['Customer_Type_label'] = label_encoder.fit_transform(df['Customer Type'])
# Mostrar cómo se asignaron los valores
print("\nAsignación de valores en Label Encoding:")
for clase, valor in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{clase}: {valor}")

Asignación de valores en Label Encoding:
Loyal Customer: 0
disloyal Customer: 1

In [60]:
# Aplicar Label Encoding a Type of Travel
label_encoder = LabelEncoder()
df['Type_of_Travel_label'] = label_encoder.fit_transform(df['Type of Travel'])
# Mostrar cómo se asignaron los valores
print("\nAsignación de valores en Label Encoding:")
for clase, valor in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{clase}: {valor}")

Asignación de valores en Label Encoding:
Business travel: 0
Personal Travel: 1

In [61]:
# Aplicar Label Encoding a Class
label_encoder = LabelEncoder()
df['Class_label'] = label_encoder.fit_transform(df['Class'])
# Mostrar cómo se asignaron los valores
print("\nAsignación de valores en Label Encoding:")
for clase, valor in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{clase}: {valor}")

Asignación de valores en Label Encoding:
Business: 0
Eco: 1
Eco Plus: 2

In [62]:
# Aplicar Label Encoding a satisfaction
label_encoder = LabelEncoder()
df['satisfaction_label'] = label_encoder.fit_transform(df['satisfaction'])
# Mostrar cómo se asignaron los valores
print("\nAsignación de valores en Label Encoding:")
for clase, valor in zip(label_encoder.classes_, label_encoder.transform(label_encoder.classes_)):
    print(f"{clase}: {valor}")

Asignación de valores en Label Encoding:
neutral or dissatisfied: 0
satisfied: 1

In [63]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
import numpy as np
import joblib

#definimos las caracteristicas y la variable objetivo
x = df[['Gender_label','Customer_Type_label','Type_of_Travel_label','Class_label','Age','Flight Distance','Inflight wifi service',
        'Departure/Arrival time convenient','Ease of Online booking','Gate location','Food and drink','Online boarding','Seat comfort'
        ,'Inflight entertainment','On-board service','Leg room service','Baggage handling','Checkin service','Inflight service',
        'Cleanliness','Departure Delay in Minutes','Arrival Delay in Minutes']]
y = df[['satisfaction_label']]

x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state=42)

model = LinearRegression()
model.fit(x_train, y_train,)

y_pred_test = model.predict(x_test)
y_pred_train = model.predict(x_train)

# Calcular Mean Squared Error (MSE)
mse = mean_squared_error(y_test, y_pred_test)
print(f"Mean Squared Error (MSE): {mse}")

# También puedes calcular RMSE (Root Mean Squared Error)
rmse = np.sqrt(mse)
print(f"Root Mean Squared Error (RMSE): {rmse}")

# Calcular R² (esto es lo mismo que rf_model.score())
r2 = r2_score(y_test, y_pred_test)
print(f"R² Score: {r2}")

Mean Squared Error (MSE): 0.11003022595547621
Root Mean Squared Error (RMSE): 0.33170804324808917
R² Score: 0.5526316716275536